@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>


    <main>
        <article class="content mt-5">
            @Body
        </article>
    </main>
</div>
@code{
    private bool _menuOpen = false;
    private void ToggleMenu()
    {
        _menuOpen = !_menuOpen;
    }
}
