@inherits LayoutComponentBase
@inject QuizAuthStateProvider QuizAuthStateProvider
<div class="page">
    <!-- Background overlay -->
    <div class="background-overlay"></div>

    <div>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (QuizAuthStateProvider.IsLoggedIn)
            {
                <div class="ms-auto d-flex align-items-center gap-3">
                    <ThemeToggle />
                    <UserProfileDropdown />
                </div>
            }
            else
            {
                <div class="ms-auto d-flex align-items-center gap-3">
                    <ThemeToggle />
                </div>
            }
        </div>

        <article class="content">
            @if (QuizAuthStateProvider.IsInitializing)
            {
                <p>Initializing state...</p>
            }
            else
            {
                <div class="w-100">
                    @Body
                </div>
            }
        </article>
    </main>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        while (QuizAuthStateProvider.IsInitializing)
        {
            await Task.Delay(500);
        }
    }
}
