@inherits LayoutComponentBase
@inject QuizAuthStateProvider QuizAuthStateProvider
<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ThemeToggle />
            @if (QuizAuthStateProvider.IsLoggedIn)
            {
                <div class="ms-auto">
                    <UserProfileDropdown />
                </div>
            }
            else
            {
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            }
        </div>

        <article class="content">
            @if (QuizAuthStateProvider.IsInitializing)
            {
                <p>Initializing state...</p>
            }
            else
            {
                <div class="w-100">
                    @Body
                </div>
            }
        </article>
    </main>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        while (QuizAuthStateProvider.IsInitializing)
        {
            await Task.Delay(500);
        }
    }
}
