@using BlazingQuiz.Shared

@inject NavigationManager NavigationManager

@inject QuizAuthStateProvider QuizAuthStateProvider
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazingQuiz.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <AuthorizeView Roles="@(nameof(UserRole.Admin))" Context="adminContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/home" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/manage-categories">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Categories
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/manage-students">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Students
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/manage-quizes">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Quizes
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/add-quiz">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Quiz
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="@(nameof(UserRole.Student))" Context="studentContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="student/home" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="student/joinroom">
                            <span class="bi bi-door-closed-fill-nav-menu" aria-hidden="true"></span> Join Room
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="student/createroom">
                            <span class="bi bi-door-open-fill-nav-menu" aria-hidden="true"></span> Create Room
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="student/my-quizes">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> My quizes
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="student/bookmarks">
                            <span class="bi bi-bookmark-fill-nav-menu" aria-hidden="true"></span> Bookmarks
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="student/profile">
                            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Profile
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="@(nameof(UserRole.Teacher))" Context="teacherContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="teacher/home" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="teacher/manage-questions">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Questions
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="teacher/manage-categories">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Categories
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="teacher/manage-quizzes">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Quizzes
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="teacher/add-quiz">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Quiz
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="teacher/createroom">
                            <span class="bi bi-door-open-fill-nav-menu" aria-hidden="true"></span> Create Room
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="teacher/profile">
                            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Profile
                        </NavLink>
                    </div>
                </AuthorizeView>
                <div class="nav-item px-3">
                    <a role="button" class="nav-link" @onclick="LogoutAsync">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task LogoutAsync()
    {
        await QuizAuthStateProvider.SetLogoutAsync();
        NavigationManager.NavigateTo("auth/login", replace: true); // Redirect to login page after logout
    }
}
