<!-- Modal -->
<div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block; z-index: 1050;">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered @SizeClass">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="OnCancelClick"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            @if (!string.IsNullOrEmpty(ActionButtonText) || !string.IsNullOrEmpty(CancelText))
            {
                <div class="modal-footer d-flex justify-content-between">
                    @if (!string.IsNullOrEmpty(CancelText))
                    {
                        <button type="button" class="btn btn-3d btn-3d-secondary btn-sm" data-bs-dismiss="modal" @onclick="OnCancelClick">@CancelText</button>
                    }
                    @if (!string.IsNullOrEmpty(ActionButtonText))
                    {
                        <button type="button" class="btn btn-3d btn-3d-primary btn-sm" @onclick="OnActionButtonClick">@ActionButtonText</button>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="modal-backdrop fade show" style="z-index: 1040;"></div>

@code{
    [Parameter, EditorRequired]
    public string Title { get; set; }
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string ActionButtonText { get; set; } = "Ok";
    [Parameter]
    public string CancelText { get; set; } = "Close";
    [Parameter]
    public EventCallback OnActionButtonClick { get; set; }
    [Parameter]
    public EventCallback OnCancelClick { get; set; }
    [Parameter]
    public ModalSize Size { get; set; } = ModalSize.Default;
    private string SizeClass => Size switch
    {
        ModalSize.Default => "",
        ModalSize.Small => "modal-sm",
        ModalSize.Large => "modal-lg",
        ModalSize.ExtraLarge => "modal-xl",
        _ => ""
    };
}