.input-group {
    border: 3px solid #000 !important;
    border-radius: 50px !important;
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.75), 0px 2px 4px rgba(0, 0, 0, 0.3) !important;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .input-group:focus-within {
        transform: translateY(4px);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75), 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
        border: 3px solid #000 !important;
    }

.form-control {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 50px !important;
    padding: 0.75rem 1.5rem;
}

    .form-control:focus {
        border: none;
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

.search-btn {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 50px !important;
    padding: 0.75rem 1.5rem;
}
