.page[b-h5cv00ax20] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-h5cv00ax20] {
    flex: 1;
}

.sidebar[b-h5cv00ax20] {
    background-color: var(--app-color);
}

.top-row[b-h5cv00ax20]{
    height: 3.5rem;
}

@media (min-width: 641px) {
    .page[b-h5cv00ax20] {
        flex-direction: row;
    }

    .sidebar[b-h5cv00ax20] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
